<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="CSS/stylesOnePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <img src="IMAGES/debriportlogul.png" alt="DEBRIPORT">
        </div>
    </div>

    <div class="container">
        <!-- Picture Buttons -->
        <div class="picSubmit">
            <p class="stepText">First</p>
            <button type="button" class="btn btn-secondary btn-lg"><i class="fas fa-camera"></i> Take a picture</button>
            <p class="stepText">or</p>
            <button type="button" class="btn btn-secondary btn-lg"><i class="far fa-images"></i> Choose from photo library</button>
        </div>
        <!-- Location Button -->
        <div class="locButton">
            <p class="stepText">Next</p>
            <button type="button" class="btn btn-secondary btn-lg"><i class="far fa-compass"></i> Get location</button>
        </div>
        <!-- Message Input -->
        <div class="form-group">
            <label for="stepText">Message:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="tell us what you see, location details, or any other pertinent details of your submission..."></textarea>
        </div>
        <!-- Submit Button -->
        <div>
            <button type="button" class="btn btn-secondary btn-lg">Submit</button>
        </div>
    </div>

</body>
</html>