<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/CSS/login-page.css">
  <title>Debriport - Login</title>
</head>
<body>
  <div class="login-box">
    <img class="avatar" src="https://static1.squarespace.com/static/5768c4ee1b631bb40e9e310e/t/57d1f4a59f7456d0a2ad90b9/1473377466950/Individual.png" alt="">
    <h1>Admin Login</h1>
    <form method="post" action="../templates/report-database.html">
      <p>Username: </p>
      <input type="text" min="8" maxlength="15" required name="username" placeholder="Enter Username">
      <p>Password: </p>
      <input type="password" min="8" maxlength="15" required name="password" placeholder="Enter Password">
      <input type="submit" name="submit" value="Login">
      <a href="#">Forgot Password</a>
    </form>
  </div>

</body>
</html>
